</main>
<footer>
    <p>Copyright © <span id="year"></span> Aldoger</p>
</footer>

<script>
    // JavaScript to set the current year in the footer
    document.getElementById('year').textContent = new Date().getFullYear();
</script>

</body>
</html>
