<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>NotesForYou</title>
</head>


<body>

    <%- include("partials/header.ejs") %>
    
    <main>

        <h2>Make a Note</h2>

        <form action="/update" method="post">
            <input type="hidden" name="blogId" value="<%= id %>">
            <input class="title" type="text" name="topicU" placeholder="Title" required>
            <textarea class="content" name="contentU" placeholder="Content" required></textarea>
            <input class="bt" type="submit" value="Make">
        </form>
    </main>

    <%- include("partials/footer.ejs") %>
    
</body>
    
<script>
    document.getElementById('year').textContent = new Date().getFullYear();
</script>
</html>
    